.headerText{
    width: 500px;
    /* transform: rotate(25deg); */
    padding: 5px;
    margin: 0px 5px;
}

.headerText > *{
    /* text-align: right; */
    margin: 0px 0px;
}

.headerText > h1{
    color: white;
    display: inline-block;
    background-color: #111;
    padding: 10px 20px;
    border-radius: 5px;
}


.headerText > h3{
    color: white;   
}

.headImg{
    /* width: 100%; */
    height: 140%;
    position: absolute;
    bottom: 0;
    /* left: 0; */
    margin-left: 40%;
}