.Navbar{
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    height: 60px;
    width: 100%;
    font-size: 20px;

  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  padding: 0px 5%;
  box-sizing: border-box;

}

.BoxLogo{
    display: flex;
    align-items: center;
    cursor: pointer;

    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 568px) {
    .BoxLogo {
        display: none;
    }
    .Navbar{
        padding: 0px 0px;
    }
}

.BoxLogo > div{
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background-color: orange;
    margin: 0 6px;
}

.NavLinks > a{
    cursor: pointer;
    font-size: 20px;
    color: inherit;
    margin: 0px 5px;
    text-decoration: none;
}

.NavLinks > a:hover{
    color: #888;
}

.Icons{
    min-width: 76px;
}

.Icons > a{
    font-size: 28px;
}

.BoxLogo:hover{
    color: #888;
}

.BoxLogo:hover > div{
    opacity: 0.6;
}

.resume{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    color: white !important;
    /* font-weight: 600; */
}

.resume:hover{
    font-weight: 600;
}