.projectsContainer {
    background-color: #ededed;
    position: relative;
    z-index: 1;
    text-align: center;
    
} 

.projectHeader{
    text-align: center;
}

.projectFlex{
    z-index: 1;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0px auto;
}

.projectThumbnail{
    width: 100%;
    margin: 0px;
    object-fit: cover;
    /* height: auto; */
}

.projectItem{
    width: calc(33% - 5px);
    position: relative;
    background: white;
    margin-bottom: 10px;
    z-index: 2;
}

.projectContent{
    padding: 5px;
    padding: 5px 15px 25px;
    text-align: left;
}

.projectLinks{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 10px;
    width: 100%;
}

.projectLinks > a {
    margin: 0px 10px;
    color: #2386df;
}

.minorProject>a{
    color: #2386df;
}

.projectLinks > a:link, .minorProject > a:link {
    text-decoration: none;
}

.projectLinks > a:visited, .minorProject > a:visited {
    text-decoration: none;
    color: #b621b6;
}

.projectLinks > a:hover, .minorProject > a:hover {
    text-decoration: underline;
}

.projectLinks > a:active, .minorProject > a:active {
    text-decoration: underline;
}



/* 
@media (max-width: 800px) {
    .projectItem{
        width: 49%;
    }
} */

.projectExpand{
    color: white;
    background-color: rgb(105, 197, 228);
    padding: 1em 2em;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    margin: 0px auto;
    display: block;
}

.projectExpand:hover{
    background-color: rgb(31, 172, 219);
    ;
}

.red{
    background-color: #fa2c2c
}

.red:hover{
    background-color: #dd0808
}

.projectExpand:focus{
    outline: none;
}

.projectsFoot{
    position: relative;
    background-color: #ededed;
    height: 20px
}

.minorProjectContainer{
    text-align: center;
    /* margin-bottom: 20px; */
        /* width: 50%; */
    display: inline-block;
    margin: auto;
}

.minorProject{
    text-align: left;
    margin: 3px;
}

@media (max-width: 800px) {
    .projectItem {
        width: 100%;
    }

    .projectFlex {
        padding: 10px;
    }

    .minorProject{
        margin: 5px 10px;

    }
}